# JetBrains
/.idea/

# VisualStudio
.suo

# C# build artifacts
bin/
obj/

# C# packages
/nupkg/

# Native libraries
/lib/

# C2CS
/bindgen/ast/

# macOS
.DS_store

# scripts
/build
/ext/scripts
.vs/flecs/DesignTimeBuild/.dtbcache.v2
.vs/flecs/v17/.futdcache.v1
